@charset "UTF-8";

/*Demais midias*/

@media screen and (orientation: landscape) {
    body, html {
        background-image: linear-gradient(to bottom right, var(--cor1), var(--cor2));
    }
}

@media screen and (min-width: 768px) and (max-width: 998px) {
    section#login {
        width: 80vw;
        height: 280px;
    }

    section#login div#imagem {
        float: left;
        width: 30%;
        height: 100%;
        background-image: url(../imagens/img_login_query.png);
    }

    section#login div#formulario {
        width: 66%;
        float: right;
        margin: 2%;
    }

    section#login div#formulario h1 { margin-top: 0px;}
}

@media screen and (min-width: 998px) {
    section#login {
        width: 950px;
        height: 350px;
    }

    section#login div#formulario {
        float: left;
        width: 46%;
        height: 100%;
        margin: 2%;
        font-size: large;
    }

    section#login div#imagem {
        float: right;
        width: 50%;
        height: 100%;
        background-image: url(../imagens/img_login_mobile.png);
    }
}