@charset "UTF-8";

/*Mobile First*/

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: rgb(0, 48, 0);
    --cor2: rgb(31, 131, 64);
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    width: 100vw;
    height: 100vh;
    background-color: var(--cor1);
}

section#login {
    width: 50vw;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    overflow: hidden;
}

section#login div#imagem {
    display: block;
    background-image: url(../imagens/img_login_mobile.png);
    background-size: cover;
    background-position: center center;
    width: 50vw;
    height: 200px;
}

div#formulario {
    margin: 4%;
}

div#formulario h1 {
    text-align: center;
    margin: 0.5em;
}